{% extends 'base.html' %}

{% block content %}
<h1 class='text-center text-uppercase'>Dev Blog</h1>

<div class="container light-grey">
        <div class="row">
            <div class='col-md-8  post-list'>
                <div class="background">
                    <h1 class="center-text">{{Post.post_title|safe}}</h1> 
                    <p class="center-text">{{Post.post_date}}</p> 
                    <p class="center-text">{{Post.post_text|safe}}</p> 
                </div>
            </div>
            <div class='col-md-4 sidebar'>
            </div>
        </div>
    </div>
{% endblock %}