{% extends 'base.html' %}

{% block content %}
<div>
<h1 class="post-title">{{blogPost.post_title|safe}}</h1> 
<div class="img-container">
    <img class="post-img" src={{blogPost.post_img.url}}>
</div>
<div class="post-content">
    <p class="post-date">{{blogPost.post_date}}</p> 
    <p class="post-text">{{blogPost.post_text|safe}}</p> 
</div>
<div class="comment-container">
    <h1 class="comment-header">Comments</h1>
{% for comment in comments%}
    <div class="single-comment">
        <p class="">{{comment.user.username}}</p> 
        <p class="">{{comment.comment_date}}</p> 
        <p class="">{{comment.comment_body}}</p> 
    </div>
{% endfor%}
</div>
    <form class="comment-form" action="" method="post">
{% csrf_token %}
{{ form }}
    <input type="submit" value="Submit" class="comment-button">
    </form>
</div>

{% endblock %}