{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class='col-md-8 col-md-offset-2 post-list'>
            <div class="background">
                <h1 class="center-text">{{blogPost.post_title|safe}}</h1> 
                <p class="center-text">{{blogPost.post_date}}</p> 
                <p class="center-text">{{blogPost.post_text|safe}}</p> 
            </div>
            {% for comment in comments%}
                <p class="center-text">{{comment.user.username}}</p> 
                <p class="center-text">{{comment.comment_date}}</p> 
                <p class="center-text">{{comment.comment_body}}</p> 
            {% endfor%}
            <form class="comment-form" action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}