

#wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: #000011;
    color: #a0a0a0;
}


.navbar {
    display: flex;
    justify-content: start;
    height: 50px;
    width: 100%;
    background-color: #000011;
}


.navbar ul {
    padding-left: 10px;
}

.navbar li {
    display: inline-block;
    color: #a0a0a0;

}

.banner {
    min-height: 200px;
    background-image: url("./img/mountain.jpeg");
    background-size: cover;
    color: #000011;
    text-shadow: 1px 1px 1px white;
    margin-bottom: 50px;

}

.banner p {
    font-size: 1.75em;
    text-align: center;
    line-height: 200px;
    margin: 0;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.post-container {
    text-align: center;
    border-bottom: 1px solid #5C5C5D;
    padding: 1em;
}

.post-list-img {
    width: 95%;
    padding: 0 2.5%;
}

@media screen and (min-width: 760px) {
    #wrapper {
        background-color: blue;
    }
  }