
/* BlogList */

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: #000011;
    color: #a0a0a0;
}


.navbar {
    display: flex;
    justify-content: start;
    height: 50px;
    width: 100%;
    background-color: #000011;
}


.navbar ul {
    padding-left: 10px;
}

.navbar li {
    display: inline-block;
    color: #a0a0a0;

}

.banner {
    min-height: 200px;
    width: 100%;
    background-image: url("./img/mountain.jpeg");
    background-size: cover;
    color: #000011;
    margin-bottom: 50px;

}

.banner p {
    font-size: 1.75em;
    text-align: center;
    line-height: 200px;
    margin: 0;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.post-container {
    text-align: center;
    border-bottom: 1px solid #5C5C5D;
    padding: 1em;
}

.post-list-img {
    width: 95%;
    padding: 0 2.5%;
}

.side-bar-img {
    display: block;
    border-radius: 50%;
    width: 80%;
    height: auto;
    margin: auto;
}

.side-bar h4, .side-bar h5 {
    text-align: center;
    padding: 0 25px;
}

/* End of BlogList */

.post-title {
    width: 80%;
    text-align: center;
    color: #a0a0a0;
    margin: auto;
}

.img-container {
    width: 100vw;
}

.post-img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}

.post-content {
    width: 80%;
    margin: 0 10%;
    font-size: 1.25em;
}

.post-date {

}

.post-text {
    width: 100%;
}

.comment-header {
    text-align: center;
    font-style: bold;
}

.comment-container {
    text-align: center;
    padding: 0 25px;
}

.single-comment {
    padding: 10px 0;
}

.single-comment p {
    margin: 2px 0;
}

#id_comment_body {
    display: block;
    margin: auto;
}

.comment-button {
    display: block;
    margin: 10px auto;
    width: 30%;
    height: 30px;
}

label {
    visibility: hidden;
}

@media screen and (min-width: 760px) {
    #wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 1fr;
        grid-template-rows: 50px 200px auto;
        justify-items: center;
        background-color: #181818;
        color: #a0a0a0;
    }

    .navbar {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .banner {
        min-height: 200px;
        width: 100%;
        background-image: url("./img/mountain.jpeg");
        background-size: cover;
        color: #000011;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .all-posts {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: 25px;
        width: 100%;
    }

    .post-container {
        width: 100%;
        height: auto;
        display: flex;
        padding: 0;
        padding-bottom: 12px;
    }

    .post-img-container {
        width: 35%;
        min-height: 100%;
        overflow: hidden;
    }

    .post-list-img {
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100%;
        display: inline-block;
    }

    .post-text-container {
        text-align: center;
        display: block;
        width: 50%;
    }

    .post-container h3, .post-container p {
        display: block;
    }

    .side-bar {
        margin-top: 25px;
        padding-left: 30px;
    }
  }